* {
  box-sizing: border-box;
}

p {
  font-family: "Lucinda Sans", Georgia, Serif;
  color: rgba(30, 32, 20, 0.85);
  text-align: center;
}

html {
  background: #fffad5;
  font-family: 'Bree Serif', serif;
}

h1 {
  color: rgba(30, 32, 20, 0.85);
  text-align: center;
}

.topnav {
  border-radius: 15px;
  background-color: #bd4932;
  overflow: hidden;
  box-sizing: border-box;
}

.topnav a {
  float: right;
  display: block;
  color: rgba(30, 32, 20, 0.85);
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #db9e36;
  color: black;
}

.containerSteps {
  width: 100%;
  padding: 20px;
  height: 240px;
  display: flex;
  justify-content: space-around;
}

.box {
  border-radius: 15px;
  background-color: #ffd34e;
  width: 300px;
  height: 200px;
  padding: 6px;
}

.containerStart {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 15px;
}

.start {
  text-align: center;
  width: 80%;
  background-color: #105a63;
  padding: 10px;
  border-radius: 15px;
}

ul {
  list-style-type: none;
}

/* Month header */
.month {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 70px 25px;
  width: 100%;
  background: #105a63;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  justify-content: center;
  color: #fffad5;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #db9e36;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: rgba(30, 32, 20, 0.85);
  text-align: center;
}

/* Days (1-31) */
.days {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px 0;
  background: #ffd34e;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: rgba(30, 32, 20, 0.85);
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}

.startReadingContainer {
  display: flex;
  justify-content: center;
  width: 100;
}

.startReading {
  text-align: right;
  display: flex;
  color: rgba(30, 32, 20, 0.85);
  background-color: #db9e36;
  border-radius: 15px;
  height: auto;
  width: auto;
  margin: 15px;
  padding: 25px;
  align-items: center;
  justify-content: center;
}

.bottomContainer {
  position: relative;
  text-align: center;
}

.bottom {
  color: rgba(30, 32, 20, 0.85);
  position: fixed;
  bottom: 5px;
}
