p {
  font-family: "Lucinda Sans", Georgia, Serif;
  color: rgba(30, 32, 20, 0.85);
  text-align: center;
}

html {
    height: 100%;
    background: #fffad5;
    font-family: 'Bree Serif', serif;
}

h1 {
  color: rgba(30, 32, 20, 0.85);
  text-align: center;
}

.topnav {
    background-color: #bd4932;
    overflow: hidden;
}

.topnav a {
    float: right;
    box-sizing: border-box;
    color: rgba(30, 32, 20, 0.85);
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #db9e36;
    color: black;
}

.topnav .icon {
    display: none;
}
